<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('root') }}">CollabZone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('projects.list_projects') }}">Projets</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('tasks.create_task') }}">Nouvelle Tâche</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('chat.chat_box') }}">Chat</a></li>
    </ul>
    {% if current_user.is_authenticated %}
      <span class="navbar-text mr-3">Bonjour {{ current_user.username }}</span>
      <a class="btn btn-outline-secondary" href="{{ url_for('auth.logout') }}">Déconnexion</a>
    {% else %}
      <a class="btn btn-outline-primary mr-2" href="{{ url_for('auth.login') }}">Connexion</a>
      <a class="btn btn-primary" href="{{ url_for('auth.signup') }}">Inscription</a>
    {% endif %}
  </div>
</nav>
